<header>
  <div class="text-center homePageText" id="indexPadding">
    <h1>Movie Management Application</h1>

  </div>
</header>

<body>
  <div class="my-2">
    <h6><b>Top Rated Movies!</b></h6>
    <h7><a asp-controller="User" asp-action="Login">Login</a> or <a asp-controller="User"
        asp-action="Register">Register</a> to leave your own reviews!</h7>
  </div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active d-flex justify-content-center">
        <img src="https://image.tmdb.org/t/p/original/kyeqWdyUXW608qlYkRqosgbbJyK.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for Avatar">
        <img src="https://image.tmdb.org/t/p/original/5BHuvQ6p9kfc091Z8RiFNhCwL4b.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for The Martian">
        <img src="https://image.tmdb.org/t/p/original/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for Harry Potter">
      </div>

      <div class="carousel-item d-flex justify-content-center">
        <img src="https://image.tmdb.org/t/p/original/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for No Time to Die">
        <img src="https://image.tmdb.org/t/p/original/1dnf03F2imnIOzzjXqlUzCdgfTB.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for Monsters Inc">
        <img src="https://image.tmdb.org/t/p/original/vfrQk5IPloGg1v9Rzbh2Eg3VGyM.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for Alien">
      </div>

      <div class="carousel-item d-flex justify-content-center">
        <img src="https://image.tmdb.org/t/p/original/pXNomqKcKXAQbuWxehb2N3XFKfn.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for The Terminal">
        <img src="https://image.tmdb.org/t/p/original/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg" class="d-block w-25 h-25"
          alt="Movie Poster for The Lord of the Rings">
        <img src="https://image.tmdb.org/t/p/original/fNOH9f1aA7XRTzl1sAOx9iF553Q.jpg" XFKfn.jpg"
          class="d-block w-25 h-25" alt="Movie Poster for Back to the Future">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <div class="homePageText id=" indexPadding"">
    <br>
    <hr></hr>
    <p>This is a .NET Core MVC Application Using EntityFramework Core.</p>
    <p>Provides movie management and review functionality</p>
    <p>Developed as part of COM741 Web Application Development Module</p>
  </div>
</body>